ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
.taskModal-message input::-webkit-input-placeholder{
  color:#acacac;
}
.taskModal-message input::-moz-placeholder{
  color:#acacac;
}
.taskModal-message input:-ms-input-placeholder{
  color:#acacac;
}
.form-control {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-none{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: none;
}
.body{
  padding-top: 10px;
}
.header{
  padding: 10px;
}
.nav-task {
  background: #eee;
}
.nav-justified{
  width: 100%;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-justified > li > a {
  margin-bottom: 0;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-task>li>a {
  border-radius: unset;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color:#979b9e;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3ce0d3;
}
.nav-justified > li > a {
  margin-bottom: 0;
}
.nav-justified > li {
  float: none;
}
.nav > li {
  position: relative;
}
.nav-task>li>a{
  border-radius: unset;
}
.nav-task>li:first-child>a{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-task>li:last-child>a{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-task{
  border-radius: 4px;
}
.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
.list>li {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  position: absolute;
}
.item-title{
  display: flex;
  align-items: center;
  color:#999 ;
  justify-content: space-between;
}
.item-state{
  font-size: 10px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #333;
  background: #d5d5d5;
  border-radius: 2px;
  margin-left: 8px;
}
.title-font{
  /*max-width: 295px;*/
  /* margin-left: 8px; */
  line-height: 20px;
  color: #546436;
}
.task-list{
  margin-top: 10px
}
.task-item{
  background: #fff;
  padding: 8px 15px;
  width: 409px;
  margin-top: 10px;
  border-radius: 4px;
}
.task-title>span{
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  width: calc( 100% - 94px );
  word-wrap : break-word;
}
.task-title{
  display:  flex;
  /* justify-content: space-between; */ 
  width: 100%;
}
.task-title>div{
  min-width: 94px;
  display: flex;
  justify-content: flex-end;
}
.task-title>div>span{
  margin-left: 5px;
  color: green;
}
.task-state{
  display: flex;
  justify-content: flex-end;
  color: #bbb;
  line-height: 21px;
}
.task-time{
  display: flex;
  justify-content: flex-end;
}
.xiaicon{
  border-radius: 50%;
  border: 2px solid #999;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  /* padding-left: 1.5px;
  padding-top: 1.5px; */
  padding-bottom: 1.5px;
  cursor: pointer;
}
.taskdown li a{
  color: #999;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
.taskdown li a:hover{
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  color: #262626;
  text-decoration: none;
  outline: 0;
}
.taskdown li a i{
  margin-right: 5px;
  font-size: 13px;
}
.my-condition{
  display: flex;
  margin-left: 10px;
  color: green;
  font-size: 14px;
  
}
.my-btn span{
  cursor: pointer;
  padding: 4px 10px;
  margin-right: 10px;
}
.my-btn.active span{
  border-bottom: 2px solid green;
}
.dropdown-task{
  position: relative;
}
.taskdown{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


.taskModal,.taskModal-schedule{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 50;
}
.taskModal.addModal{
  align-items: center;
}
.taskModal-content::before{
  content: '';
  display: table;
}
.schedule-dialog{
  margin: 50px 0;
  max-height: 653px;
}
.taskModal-dialog{
  margin: 50px 0px;
}
.taskModal-dialog,.schedule-dialog{
  width: 600px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.demand-content,.schedule-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.demand-title{
  font-size: 13px;
  line-height: 22px;
  color: #999;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  margin-right: 10px;
}
.taskClose,.scheduleClose, .taskRenovate{
  font-size: 21px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: #000;
  opacity: 0.2;
}
.taskModal-title{
  margin-top: 20px;
  margin-bottom: 15px;
}
/* .taskModal-title>div{
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
} */
.time-icon{
  cursor: pointer;
}
.taskModal-title>div{
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  background-image: none;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
}
.taskModal-message{
  height: 35px;
  display: flex;
  align-items: center
}
.taskModal-message select,.taskModal-message input{
  /* margin-right: 10px; */
  color: #727272;
}
.taskModal-message input{
  display: inline-block;
  width: 130px;
  height: 26px;
  padding: 6px 6px;
}
.taskModal-message .taskModal-state{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  font-size: 13px;
  /* background: #e5e5e5; */
  color: green;
  cursor: pointer;
}
.taskModal-state{
  position: relative;
  width: 70px;
  display: flex;
  height: 27px;
  justify-content: space-between;
  align-items: center;
}
.taskModal-state span {
  display: inline-block;
  width: 50px;
  text-align: center;
}
.stateList{
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  display: none;
  top: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  z-index: 1;
}
.stateList li {
  text-align: center;
}
.stateList li.active{
  background: #3da8f5;
  color: #fff;
}
.taskModal-message .taskModal-personLiable{
  color: #333;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  display: inline-block;
  width: 80px;
  position: relative;
}
.taskModal-message .taskModal-personLiable input{
  width: 100%;
  border-color: rgb(169, 169, 169);
}
.personLiable-ul{
  position: absolute;
  width: 70px;
  border: 1px solid rgb(169, 169, 169);
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #acacac;
  top: 30px;
  z-index: 1;
}
.personLiable-ul li{
  text-align: center;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
}
.personLiable-ul li.active{
  background: #3da8f5;
  color:#fff;
}
.difficultylevelid{
  position: relative;
  width: 70px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}
.difficultylevelid > span {
  margin-right: 10px
}
.tasktypeList{
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
  width: 150px
}
.tasktypeList-box{
  overflow: hidden;
}
.difficultylevelList,.tasktypeList-box{
  position: absolute;
  top: 24px;
  background: #fff;
  width: 100%;
  left: 0px;
  z-index: 1;
  display: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.difficultylevelList li, .tasktypeList li {
  text-align: center;
}
.difficultylevelList li.active, .tasktypeList li.active{
  background: #3da8f5;
  color:#fff;
}
.typeid{
  position: relative;
  width: 135px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}
.typeid > span{
  margin-right: 10px;
}
.taskModal-illustrate{
  margin-top: 10px;
  /* margin-bottom: 10px; */
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}
.illustrate-row{
  display: flex;
  line-height: 25px;
  color: #bbb;
  margin-bottom: 15px;
}
.illustrate-row select{
  border-radius: 4px;
}
.illustrate-row:last-child{
  margin-bottom: 0;
}
.illustrate-row>div:first-child{
  margin-right: 50px;
}
.illustrate-row>div:last-child{
  color: #919191;
}
.illustrate-font{
  width: 500px;
  color: #919191;
  font-size: 13px;
  resize: vertical;
  min-height: 300px;
}
.rateOfProgress{
  display: flex;
  line-height: 25px;
  color: #bbb;
  margin-bottom: 15px;
}
.rateOfProgress div:first-child{
  margin-right: 50px;
}
.rateOfProgress div:last-child{
  color: #333;
}
.Progress-title{
  color: #bbb;
  line-height: 23px;
}
.Progress-title i{
  font-size: 13px;
  margin-right: 5px;
}
.Progress-item{
  display: flex;
  justify-content: space-between;
  line-height: 33px;
  cursor: pointer;
}
.Progress-item span:first-child{
  margin-left: 10px;
  color:#333;
}
.Progress-item span{
  margin-right: 10px;
  color: #939393;
}
.Progress-item-right i{
  color: #bbb;
  margin-right: 10px;
}
.Progress-add{
  color: #3da8f5;
  line-height: 20px;
  cursor: pointer;
  width: 100px;
}
.Progress-add i{
  font-size: 13px;
  // margin-right: 10px;
  margin-left: 10px;
}
.taskModal-footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.cancel-btn{
  line-height: 17px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #c7c7c7;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
}
.preserve-btn{
  line-height: 17px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  background: #f89c2c;
}
.schedule-title{
  color: #999;
}
.schedule-content-box{
  overflow: hidden;
  height: calc(100% - 69px);
  max-height: 557px;
}
.taskModal-content{
  height: calc(100%);
  overflow: hidden;
  overflow-y: scroll;
  margin-right: -17px;
  /* padding-right: 7px; */
}
.taskModal-contentBox{
  overflow: hidden;
  height: calc(100% - 62px);
}
.taskModal-contentBox.taskModal-addcontentBox{
  height: 434.1px;
}
.schedule-content{
  padding-top: 15px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  margin-right: -17px;
  padding-right: 7px;
}
.taskModal-foot{
  height: 40px;
}
.schedule-top{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.ProgressBar-group{
  padding-top: 15px;
}
.ProgressBar-group:first-child {
  padding: 0;
}
.ProgressBar-title{
  line-height: 22px;
  font-size: 13.5px;
}
.ProgressBar-title sup{
  color: red;
  margin-left: 2px;
}
#ProgressBar,#ProgressBar-hour{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}
#ProgressBar .ui-slider-handle,#ProgressBar-hour .ui-slider-handle{
  width: 2.4em !important;
  height: 1.4em !important;
  margin-left: -1.2em !important;
  top: -0.4em !important;
  line-height: 1.4em !important;
  text-align: center;
  font-size: 12px;
}
.ProgressBar-group .coos-input-group .coos-input{
  padding: 0;
}
.ProgressBar-group.row{
  margin: 0;
}
.ProgressBar-time {
  width: 200px;
  margin-top: 5px;
}
label {
  display: unset;
  max-width: unset;
  margin-bottom: 0;
  font-weight: unset;
}
.schedule-footer{
  border-top: 1px solid #ddd;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  align-items: flex-end;
}
.schedule-footer span{
  line-height: 17px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #c7c7c7;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  &.delProgress{
    background: #fb4b4b;
  }
}
.schedule-footer .preserve-btn{
  background: #f89c2c;
}
.task-menu{
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.task-menu>i{
  font-size: 18px;
  padding: 3px;
}
.task-menu ul{
  display: none;
  position: absolute;
  top: 23px;
  right: 0;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #999;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.menuList li {
  text-align: left;
  padding: 1px 24px;
}
.menuList li:hover{
  color: #5e656b;
}
.menuList li>i{
  margin-right: 5px;
}
.taskModal-dialog .ck.ck-editor{
  width: 495px;
  margin-left: 5px;
}
.taskModal-dialog .ck.ck-content{
  line-height: 18px;
}
.taskModal-dialog .ck.ck-editor__editable_inline{
  min-height: 105px;
}
